* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
body.hidden-scrolling{
    overflow-y: hidden;
}
ul {
    list-style: none;
}

/*Header*/
.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background: white;
}
/*LOGO*/
.logo__nav img{
    height: 68px;
    width: 31px;
    margin-left: 20px;
}

/*HEADER-MAIN*/
.header__main {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.header .menu > .menu__items{
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    position: relative;
}

.header .menu > .menu__items> a{
    display: block;
    margin-right: 10px;
    
}

.header .menu > .menu__items> a .fa-sort-down{
    pointer-events: none;
}

.header .open__menu {
    font-size: 35px;
    cursor: pointer;
    color: black;
    margin-right: 10px;
    margin-top: 20px;
    position: relative;
    display: none;
}

.menu{
    margin-top: 50px;
}

.header .close__boton{
    height: 40px;
    width: 40px;
    margin: 0 0 15px 15px;
    display: none;
    cursor: pointer;
    transform: translateY(15px);
}

.fa-times {
    font-size: 20px;
}

.header .menu > .menu__items > .sub__menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: absolute;
    left: 0;
    background: white;
    top: 100%;
    padding: 10px 0;
    border-top: 3px solid #793134;
    transform: translateY(5px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.header .menu > .menu__items > .sub__menu > .menu__items{
    display: block;
}

.header .menu > .menu__items > .sub__menu > .menu__items > a{
    display: block;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.header .overlay{
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    
}

.header .overlay.active {
    visibility:visible;
    opacity: 1;
}



/*Pseodonimos*/

.header .menu > .menu__items:hover,
.header .menu > .menu__items:hover> a,
.header .menu > .menu__items > .sub__menu > .menu__items > a:hover
{
    color: #793134;
}




